body {
  background-color: white;
  color: #2b2a33;
  margin: 0; /*lets the nav bar go to the edge*/
}

/*
This will center any object 
that is given this class
*/
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

/*These colors are not the final ones - Jose*/
/*the bar at the top of the screen*/
.topBar {
  background-color: #FF5233;
  list-style: none;
  margin: 0; 
  overflow: hidden;
  text-align: center;
  font-size: 180%;
  height: 3%;
}

/*the navigation bar at the bottom of the screen*/
.navbar {
  background-color: #FF5233;
  list-style: none;
  text-align: center;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: fixed;
  bottom:0px;
  width: 100%
}
  
li {
  float: center;
  display: inline;
}
  
li a {
  display: block;
  color: white;
  
  padding: 14px 16px;
  text-decoration: none;
  display: inline-block;
  /* position: fixed;
  bottom:0px; */
}
  
  /* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #B32A12;
  transition-duration: 0.5s;
}

button {
  background-color:#19A6FF;
  border-style: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 10px;
  transition-duration: 0.5s;
}

button:hover {
  background-color: #0971B3;
  color: white;
}