body {
  background-color: white;
  color: #2b2a33;
  margin: 0; /*lets the nav bar go to the edge*/
}

/*
This will center any object 
that is given this class
*/

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  /* height: 20%; */
  width: 8%;
}
.center2 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  /* height: 20%; */
  width: 50%;
}

/*These colors are not the final ones - Jose*/
/*the bar at the top of the screen*/
.topBar {
  background-color:white;
  border-radius: 10px;
  border: 4px solid black;
  list-style: none;
  margin: 0; 
  overflow: hidden;
  text-align: center;
  font-size: 180%;
  height: 3%;
}

/*the navigation bar at the bottom of the screen*/
.navbar {
  background-color:white;
  list-style: none;
  text-align: center;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: fixed;
  bottom:0px;
  width: 100%
}
  
li {
  float: center;
  display: inline;
}
  
li a {
  display: block;
  color: black;
  
  padding: 14px 16px;
  text-decoration: none;
  display: inline-block;
  /* position: fixed;
  bottom:0px; */
}
  
  /* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: white;
  transition-duration: 0.5s;
}

.coupCont {
  background-color: white;
  border-style: none;
  padding: 20px 40px;
  font-size: 16px;
  border-radius: 10px;
  border: 4px solid black;
  transition-duration: 0.5s;
}

button {
  background-color: white;
  border-style: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 10px;
  border: 4px solid black;
}


.grid-container {
  display: flex;
  gap: 12px;
  background-color:white;
  padding: 12px;
  
}

.grid-container > div {
  background-color: white;
  text-align: center;
  padding: 30px 0;
  font-size: 30px;
  flex:1;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.grid-container2 {
  display: flex;
  gap: 12px;
  background-color:white;
  padding: 12px;
}

.grid-container2 > div {
  background-color: white;
  text-align: center;
  padding: 30px 0;
  font-size: 30px;
  flex:1;
}


/*This adjusts the content on the screen when the width is 768 (ipad screen size)*/
@media only screen and (max-width: 1023px) {
  .grid-container, .grid-container div, .grid-container2, .grid-container2 div {
    flex-direction:column;
    float: center; 
    font-size: 133%;
  }
}