/*These colors are not the final ones - Jose*/
body {
  background-color: #2b2a33;
  color:white;
  margin: 0; /*lets the nav bar go to the edge*/
}

/*
This will center any object 
that is given this class
*/
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

/*These colors are not the final ones - Jose*/
/*the bar at the top of the screen*/
.topBar {
  list-style: none;
  margin: 0; 
  overflow: hidden;
  text-align: center;
  font-size: 180%;
  height: 3%;
  background-color:#1c1b22;
}

/*the navigation bar at the bottom of the screen*/
.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  bottom:0px;
  width: 100%
}
  
 
  
li {
  float: left;
}
  
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  /* position: fixed;
  bottom:0px; */
}
  
  /* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}